@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --lightCyan: hsl(193, 38%, 86%);
  --neonGreen: hsl(150, 100%, 66%);
  --grayishBlue: hsl(217, 19%, 38%);
  --darkGrayishBlue: hsl(217, 19%, 24%);
}

body {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h6{
  letter-spacing: 5px;
}

.dice-container:hover{
  box-shadow: 0 0 30px var(--neonGreen);
}
